body {
    font: 16px/28px arial, sans-serif;
    background-image: url(img/patternB.png);
    color: #ffffff;
}

.container {
    width: 800px;
    margin: auto;
    background-color: #7e0210;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;

}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;

}

.header a {
    text-decoration: none;
    color: #ff8539;
    padding: 3px;

}

.header a:hover {
    background-color: #c6030e;
    color: white;
}

.hero {
    height: 250px;

    background-image: url(img/heroB.jpg);
    background-size: cover;
    background-position: 0 0px;
    border-bottom: 5px solid #c6030e;
    border-top: 5px solid #ff8539;

}

.content {
    padding: 20px;
}

.content h2 {
    font-size: 20px;
    font-weight: bold;
}

.content penulis {
    font-size: 11px;
    margin-top: -5px;
}

.content penulis a {
    color: salmon;
    text-decoration: none;
}

.content p {
    margin-bottom: 20px;
    font-size: 13px;
}

.footer {
    background-color: #333;
    padding: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}