body {
    background-color: aqua;
    font-family: 'Georgia';
}
h1 {
    color: darkblue;
    font-size: 60px;
    text-align: center;
    font-family: 'comic sans ms';
}

h4 {
    text-align: right;
    font-style: italic;
}

#p1 {
    text-align: center;
    color: coral;
}

#p2 {
    text-align: right;
}


#p2 {
    text-align: justify;
}

#a1 {
    color: white;
    font-size: 15px;
}


